<%
=begin%>
 <h2>Sign</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label "Date of Birth" %><br />
    <%= f.date_field :DOB%>
  </div>

  <div class="field">
    <%= f.label :sex %><br />
    <%= f.radio_button :sex, 0 %>Male
    <%= f.radio_button :sex, 1 %>Female
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", data: {turbo: false}%>
  </div>
  
<% end %>

<%= render "devise/shared/links" %> 
<%
=end%>


<div class="wrapper rounded bg-white">

        <div class="h3">Sign Up</div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label>Full Name</label>
                  <%= f.text_field :name,  autofocus: true, autocomplete: "name", :class=>"form-control"%>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Email</label>
                    <%= f.email_field :email,  autofocus: true, autocomplete: "email" , :class=>"form-control"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Birthday</label>
                    <%= f.date_field :DOB, :class=>"form-control" %>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Gender</label>
                    <div class="d-flex align-items-center mt-2">
                        <label class="option">
                            <%= f.radio_button :sex, 0 %>Male
                            <span class="checkmark"></span>
                        </label>
                        <label class="option ms-4">
                                <%= f.radio_button :sex, 1 %>Female
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Password</label>
                    <%= f.password_field :password, autocomplete: "new-password" , :class=>"form-control"%> </br>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                <label>Password Confermation</label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" , :class=>"form-control" %>
                </div>
            </div>
              <%= f.submit "Sign Up", data: {turbo: false}, :class=>"btn btn-primary mt-3"%>
        </div>

    </div>

<% end %>






