<style>
    .card {
    background: #222;
    width: 100px;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin: 10px;
    }
    .card:hover{
        background-color:#363636;
    }

    .messaged-box{
        position: absolute;
        width: 320px;
        height: 364px;
        left: calc(50% - 320px/2 + 126px/2);
        top: calc(50% - 364px/2 + 52.5px);
        overflow-y: scroll;

        background: linear-gradient(180deg, #912A93 0%, #32ACBD 100%);
        border-radius: 10px;
    }
    .match-box{
        position: absolute;
        width: 124px;
        height: 364px;
        left: calc(50%  - 320px/2 - 70px);
        top: calc(50% - 364px/2 + 52.5px);
        overflow-y: scroll;

        background: linear-gradient(180deg, #C33FD9 0%, #309BBD 100%);
        border-radius: 10px;
    }
    .messaged-box::-webkit-scrollbar {
        width:0;
    }
    .match-box::-webkit-scrollbar {
        width:0;
    }
    .message-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0px;
        gap: 10px;

        position: absolute;
        width: 296px;
        height: 670px;
        left: 12px;
        top: 0px;

        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .message{
        width: 296px;
        height: 100px;

        background: #FFFFFF;
        border-radius: 10px;
        margin:10px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }


</style>

<% def time_sence(date) %>
    <% seconds = (Time.now-date).to_i %>
    <% check = 1.0.next_float %>
    <% puts(seconds) %>
    <% if seconds.to_f/60 < 1 %>
        <% return seconds.to_i.to_s + "s" %>
    <% elsif seconds.to_f/(60*60) < 1 %>
        <% return (seconds/60.to_i).to_s + 'm' %>
    <% elsif seconds.to_f/(60*60*24) < 1 %>
        <% return (seconds/(60*60).to_i).to_s + 'h' %>
    <% elsif seconds.to_f/(60*60*24*7) < 1 %>
        <% return (seconds/(60*60*24).to_i).to_s + 'd' %>
    <% else %>
        <% return (seconds/(60*60*24*7).to_i).to_s + "w" %>  
    <%end%>
<%end%>
    
        <% if @match_unmessaged != []%>
            <div class="match-box">
                <% @match_unmessaged.each do |match| %>
                    <div class="messaged-group">
                            <div class="card">
                                <%= link_to image_tag("iStock-476085198.jpg", size: "98x100") , messages_path(:message => {:match_id => match.id}), :class => "card-img-top stretched-link" %>
                                <div class="card-body">
                                    <h5 class="card-title"><%= User.find(match.user_id).name.split(' ')[0] %></h5>
                                </div>
                            </div>
                    </div>
                        <!--
                        <% if match.user_id == current_user.id %>
                            <%= link_to image_tag("iStock-476085198.jpg", size: "50x70", style: "border-radius: 40px") , messages_path(:message => {:match_id => match.id}),:style => "border-radius:50%;", :class => "btn btn-primary" %>
                        <%else%>
                            <%= link_to User.find(match.user_id).name.split(' ')[0] , messages_path(:message => {:match_id => match.id}),:style => "border-radius:50%;",  :class => "btn btn-primary"  %>
                        <%end%>
                        -->
                <%end%>
            </div>
        <%end%>
        <% if @match_messaged != []%>
            <div class="messaged-box">
            <% @match_messaged.each do |match| %>
                <% last_message = Message.where(:match_id => match.id).last %>
                <div class="messaged-group">
                    <div class="message">
                        <div class="card-body">
                            <% if match.user_id == current_user.id %>
                                <h5 class="card-title"><%= User.find(match.user2).name.split(' ')[0]  %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= time_sence(last_message.created_at) %></h6>
                                <p class="card-text"><%= last_message.body[0,15] %></p>          
                                <%= link_to ""  , messages_path(:message => {:match_id => match.id}), :class => "stretched-link" %>
                            <%else%>
                                <h5 class="card-title"><%= User.find(match.user_id).name.split(' ')[0]  %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= time_sence(last_message.created_at) %></h6>
                                <p class="card-text"><%= last_message.body[0,15] %></p>          
                                <%= link_to ""  , messages_path(:message => {:match_id => match.id}), :class => "stretched-link" %>
                            <%end%>
                        </div>
                    </div>
                </div>
            <% end %>
        <%end%>
    </div>
    


<!--
<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
    <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
  </div>
  </div>
    </div> 
 -->